@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    color: #777777
}

html {
    font-family: Roboto;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {  
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}
.header_container {
    display: flex;
    height: 17vh;
    align-items: center;
    justify-content: space-around;
    background-image: url("images/Levi\ Banner.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-color: hsla(0, 0%, 0%, 0.705);
    
}
.header_container h1 {
    margin: 0;

}


 


.nav ul {   
    display: flex;
    margin: 1.3em;
    padding: 0;
    
    
}

.nav li {
    display: inline;
    margin: .1em;
}

.nav a {
    display: inline-block;
    color: rgb(255, 252, 255);
    text-decoration: none;
    padding: .5em;
    font-weight: bold;
} 

.nav.main_nav a:hover {
    background-color: rgba(156, 156, 156, 0.308);
}

.main_nav {
    text-align: center;
    font-size: 1.1vw;
    font-weight: lighter;
    
}
.main_nav li {
    padding: 0 5%;
    
}



.my_name {
    text-align: center;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 2vw;
    color: white;
}

.flexbox_content_wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin: 2em auto;
    width: 95%;
}

.filter_content h4  {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 1em;
}



.filter_container {
    display: flex;
    padding: 1em;
    margin-right: .5%;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #f5f5f5;
    max-height: 60vh;
    
    border-radius: 5px;
}

.filter_name {
    font-size: 0.8em;
}

.content_main {
    margin: 1em;
    
}



.container {
    margin: auto;
    width: 80%;
    
}

.section_header {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 2.5em;
    color: rgb(105, 104, 104);
}


.read_time {
    font-family: "Montserrat", sans-serif;
    text-align:left;
    color: rgb(105, 104, 104);
}

.author_image {
    width: 10%;
    margin: .5em;
    margin-top: 0;
    border-radius: 10%;
}

.last_posted {
    margin: 0 ;
}

.sidebar_container {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: flex-start; /* Aligns children to the start of the container */
    width: 100%;
}

.sidebar_image {
    
    width: 100%; /* Full width of the sidebar container */
    height: auto; /* Maintains aspect ratio */
    margin-bottom: 1em; /* Adds space between images */
}



form {
    text-align: center;
    margin: 2em auto;
}
.form_header {
    text-align: center;
    
}

.form_header h2 {
    margin: 0;
    
}

.form_header h6 {
    margin-top: 0;
    
}

.about_you_label {
    text-align: center;
    display: block;
    margin-left: 0; /* Align to the left within the form */
    font-size: 1em;

}

input[type="text"], input[type="email"], input[type="password"], select, textarea {
    width: 90%; /* Make inputs take up most of the form's width */
    padding: 0.5em;
    font-size: 1em;
    margin: 0.5em 0; /* Space between inputs */
}

.subscribe_checkbox:hover {
    cursor: pointer;
}

.submit_btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.submit_btn_header {
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 0    ;
    font-size: 1em;
    font-weight: lighter;
}

.submit_btn_header:hover {
    background-color: rgba(231, 229, 229, 0.753)
}

.main_footer {
    background-color: #ffffff; /* Adjust as needed */
    padding: 20px 0;
    text-align: center; /* Centers all content horizontally */
    border-top: #333 solid 1px;
    box-sizing: border-box; /* Ensure padding and border are included in element's width and height */
}


.main_footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Centers content vertically */
    max-width: 1300px;
    margin: 0 auto;
    text-align: center; /* Centers all content horizontally */
}

.footer_my_name {
    font-family: "Montserrat", sans-serif;
    margin: 0  1em ; /* Space between name and nav */
    font-size: 1.1vw; /* Adjust font size */
    font-weight: bolder; /* Makes the name stand out */
    
    
}


.main_footer_container ul {
    
    text-align: center;
    
}

.footer_nav {
    margin: 0;
    padding: 0;
}

.footer_nav ul {
    display: flex;
    flex-wrap: wrap; /* Allow navigation items to wrap */
    align-items: center;
    padding: 0;
    justify-content: center; /* Center items horizontally */
}

.footer_nav li {
    padding: 0 .5em;
    
}

.footer_nav a {
    color: black;
    font-size: 0.9vw; /* Relative font size */
}

.footer_nav_center {
    display: flex;
    gaP: 15px; /* Space between each button */
    margin: 0 1em;
    
}

.footer_nav_center li {
    margin: 0;
}


.footer_nav_linkedin_image {
    align-items: end;
    margin: 0 1em;
}

.linkedin_footer_img {
    width: 3vw;
    margin: 0 1em;
}





.about_band_image {
    float: left;
    width: 8vw;
    border-radius: 10%;
    margin: 1vw;
}

.about_container {
    margin: 0 15em;
    display: block;
    
}

.section_header_contact {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    
    font-size: 2vw;
    color: rgb(105, 104, 104);
}

.nav_contact ul{
    text-align: center;
    padding: 0;
}

.nav_contact a {
    color: black;
    font-size: 1.7vw;
}
.nav_contact a:hover {
    background-color: rgba(88, 88, 88, 0.295);
}